    hr {
      border-top: none;
      border-style: dotted;
      border-color: grey;
      border-width: 0 0 9px;
      width: 5%;
    }
    body {
      background-color: #222831;
      color: white;
    }
    h1 {
      color: #66bfbf;
    }
    h3 {
      color: #66bfbf;
    }
    .profile_pic {
      border-radius: 100%
    }
