    hr {
      border-top: none;
      border-style: dotted;
      border-color: grey;
      border-width: 0 0 9px;
      width: 5%;
    }
    body {
      background-color: #222831;
      color: white;
    }
    .profile_pic {
      border-radius: 100%
    }
    .employment {
      background-color: #726a95;
    }
    .education {
      background-color: #c1a1d3;
    }
    .personal-proj {
      background-color: #e9b0df;
    }
